{{ $page := .page }}
{{ $section := .section }}
{{ $c := $section.Params.content }}

<div class="contact-info">
  {{ if $c.email }}
    {{ if reflect.IsSlice $c.email }}
      {{ range $email := $c.email }}
        <div class="contact-email">
          {{ if $c.autolink }}
            <a href="mailto:{{ $email }}" class="btn btn-outline-primary btn-lg">{{ $email }}</a>
          {{ else }}
            <span>{{ $email }}</span>
          {{ end }}
        </div>
      {{ end }}
    {{ else }}
      <div class="contact-email">
        {{ if $c.autolink }}
          <a href="mailto:{{ $c.email }}" class="btn btn-outline-primary btn-lg">{{ $c.email }}</a>
        {{ else }}
          <span>{{ $c.email }}</span>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>
